*{
    padding: auto;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;
    color: rgb(99, 99, 99);
}
li{
    list-style: armenian;
}
