nav{
    display: flex;
    flex-direction: row;
    border-bottom: 20px rgb(13, 12, 11);
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    z-index: 999;
    margin-left: 20rem;
    background-color: rgba(250, 235, 215, 0.466);
    border-radius: 30px;
    margin-right: 2rem;
    position: relative;
    /* margin-left: 20rem; */
}
input{
    border: none;
    background-color: antiquewhite;
    border-radius: 10px;
    width: 14rem;
    height: 2rem;
    padding: 20px 14px;
    outline: invert;
    position: sticky;

}
.nav-icons{
    height: 20px;
    width: 4rem;
    margin-left: 4rem;
}